 <nav>
            <div class="nav-wrapper teal darken-2" >
                <a href="{% url 'main:homepage' %}" class="brand-logo">OMM</a>
                 <a href="#" class="sidenav-trigger" data-target="mobile-links"><li class="material-icons">menu</li></a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
        		    <li>{{user.username}}</li>
                    <li><a href="{% url 'User:post' %}">Write Post</a></li>
        		    <li><a href="{% url 'User:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'User:register' %}">Register</a></li>
        		    <li><a href="{% url 'User:login' %}">Login</a></li>
                {% endif %}
      		</ul>

            <ul class="sidenav" id="mobile-links">
                {% if user.is_authenticated %}
        		    <li>{{user.username}}</li>
                    <li><a href="{% url 'User:post' %}">Write Post</a></li>
        		    <li><a href="{% url 'User:logout' %}">Logout</a></li>

                {% else %}
                    <li><a href="{% url 'User:register' %}">Register</a></li>
        		    <li><a href="{% url 'User:login' %}">Login</a>
                {% endif %}
            </ul>
</nav>