{% extends 'main/base.html' %}

{% block title %}
On My Mind
{% endblock title %}

{% block body %}
{% load static %}
<div class="slider">
   <ul class="slides">
      <li>
         <img src="{% static 'main/milkovi-FTNGfpYCpGM-unsplash.jpg' %}" alt="a picture goes here">
      </li>

      <li>
         <img src="{% static 'main/linkedin-sales-navigator-0QvTyp0gH3A-unsplash.jpg' %}" alt="a picture goes here">
      </li>

      <li>
         <img src="{% static 'main/christin-hume-Hcfwew744z4-unsplash.jpg' %}" alt="a picture goes here">
      </li>
   </ul>
</div>

<div class="row teal darken-1">
   <div class="container">
       <h2 class="center-align white-text"><u>What is "OMM"</u></h2>
      <div class="col m12 l6">
         <div class="card">
            <div class="card-content teal-text darken-2">
             <p class="flow-text center-align">OMM is a free to use creative space where you can write about anything. Just write what's On Your Mind</p>
            </div>
         </div>
      </div>
      <div class="col m12 l6 offset-7">
         <img src="{% static 'main/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg' %}" class="responsive-img" alt="image goes here">
      </div>
   </div>
</div>

<div class="row">
   {% for events in comments %}
      <div class="col m12 l4">
         <div class="card">
            <div class="card-content teal-text darken-2">
               <span class="card-title center-align flow-text">{{events.quote}}</span>
               <p class="flow-text">-{{events.name}}</p>
            </div>
         </div>
      </div>
   {% endfor %}
</div>

<div class="row teal darken-1">
   <div class="container">
       <h2 class="center-align white-text"><u>Write your first post</u></h2>
       <div class="col m12 l6 offset-7">
          <img src="{% static 'main/amador-loureiro-BVyNlchWqzs-unsplash.jpg' %}" class="responsive-img" alt="image">
       </div>
       <div class="col m12 l6">
         <div class="card">
            <div class="card-content teal-text darken-2">
               <p class="flow-text center-align">It doesn't matter what you want to write about so long as it's doesn't go against our terms and services</p>
               <br>
               <a href="{% url 'User:post' %}" class="btn teal center-align">Write your first Post</a>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   {% for events in post1 %}
      <div class="col m12 l4">
         <div class="card">
            <div class="card-content teal-text darken-2">
               <span class="card-title center-align">{{events.post_title}}</span>
               <p class="center-align flow-text">{{events.post_description}}</p>
            </div>
            <div class="card-action">
               <a href="/blog/posts/{{events.get_absolute_url}}">View post</a>
               <a href="#"></a>
             </div>
         </div>
      </div>
   {% endfor %}

   {% for events in post2 %}
      <div class="col m12 l4">
         <div class="card">
            <div class="card-content teal-text darken-2">
               <span class="card-title center-align">{{events.post_title}}</span>
               <p class="center-align flow-text">{{events.post_description}}</p>
            </div>
            <div class="card-action">
               <a href="/blog/posts/{{events.get_absolute_url}}">View post</a>
               <a href="#"></a>
             </div>
         </div>
      </div>
   {% endfor %}

   {% for events in post3 %}
      <div class="col m12 l4">
         <div class="card">
            <div class="card-content teal-text darken-2">
               <span class="card-title center-align">{{events.post_title}}</span>
               <p class="center-align flow-text">{{events.post_description}}</p>
            </div>
            <div class="card-action">
               <a href="/blog/posts/{{events.get_absolute_url}}">View post</a>
               <a href="#"></a>
             </div>
         </div>
      </div>
   {% endfor %}

</div>
{% endblock body %}